.Contacts{
    min-width: 100%;
    max-height: calc(100vh - 10rem);
    animation: born 2s;
}





/* *------------------------------------------------- */
@keyframes born {
    from {
        opacity: 0;
        /* width: 4.4rem; */
    }

    to {
        opacity: 1;
        /* width: auto; */
    }
}