.container {
  /* padding: 0 2rem; */
  animation: born 5s;
  display: block;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.main {
  min-height: 92vh;
  transition: all 0.2;
}

.titulo {
  height: 1rem;
  text-align: center;
  margin: 0 auto;
  color: #30bbf2;
  font-size: 1.3rem;
}

.hora {
  text-align: center;
  font-weight: lighter;
  color: whitesmoke;
}
.horacontain div{
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: monospace ;
  animation: born 12s;
  color: whitesmoke;
}
.horacontain p{
  font-size: 3rem;
  margin: 0 1rem;
}
.horacontain p:nth-child(1){
  opacity: 0;
}
.hora h4{
  font-size: 1.3rem;
  text-decoration: underline;
  cursor: pointer;
  color: aliceblue;
  transition: color .3s;
}
.hora h4:hover{
  color: #f2496a;
}

.projects {
  /* min-height: 50vh; */
  max-width: auto;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10vh 40%;
  border-radius: 10px;
  color: whitesmoke;
  animation: born 1.2s;
  /* animation: born 10s; */
}

.projects div {
  background-color: rgba(0, 0, 0, 0.75);
  /* width: 250px; */
  margin: 2rem;
  padding: 1.5rem;
  border: 1px solid aliceblue;
  border-radius: 10px;

}

.projects h2 {
  color: aliceblue;
  border-bottom: 3px solid aliceblue;
  transition: all .4s;
}
.projects div:hover h2{
  color: #f2496a;
  border-bottom: 3px solid #f2496a;
  /* border-bottom: 3px solid #30bbf2; */
}

/* -------------------------------------------- */
.footer a {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding-right: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  color: aliceblue;
}

.footer h3 {
  margin: 0 1rem;
}

.footer img {
  animation-name: latido;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* *------------------------------------------------- */
@keyframes born {
  from {
    opacity: 0;
    /* width: 4.4rem; */
  }

  to {
    opacity: 1;
    /* width: auto; */
  }
}



@keyframes latido {
  0% {
    background-color: transparent;
    width: 30px;
    height: 30px;
  }

  50% {
    background-color: transparent;
    width: 35px;
    height: 35px;
    font-size: 12px;
  }

  100% {
    background-color: transparent;
    width: 30px;
    height: 30px;
  }
}

/* *--------------------------------------- */
@media (max-width: 900px) {
  .principal {
    margin: 2vh auto;
    width: 70vw;
  }
  .projects{
    flex-direction: column;
    margin: 5rem 5%;
  }

}

@media (max-width: 400px) {
  .principal {
    margin: 2vh auto;
    width: 85vw;
  }
  .horacontain div{
    margin-top: 2rem;
    font-size: 2rem;
  }
  .horacontain p{
    font-size: 1rem;
  }
  /* .hora {
    text-align: center;
    font-weight: lighter;
  } */
}

/* ?------------------------------------------------ */
/* @media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }

  
  
} */